
@media screen and (min-width:300px){
    .hero-cards{
        padding: var(--sectionpadding);
    }

    .cards-wrapper{
        display: grid;
        grid-template-columns: 1fr;
        row-gap: 30px;
    }

    .cardv2__h2{
        margin-bottom: 32px;
    }

    .cardv2__img-wrap{
        background-color: #9dbbf8;
        padding: 12px 12px 0px 12px;
        border-radius: 8px;
    }
    .cardv2__button{
        margin: 20px 0px;
    }
}

@media screen and (min-width:768px){
    .cards-wrapper{
        display: grid;
        grid-template-columns: 1fr 1fr;
        column-gap: 24px;
    }
}

@media screen and (min-width:992px){

}