.back{background-color: black;}

.carousel .carousel-item {
    height: 30px !important;
}

:root {
 --ff1 : Inter, sans-serif ;
 --ff2: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
 --bkblue: #1b1b1b;
 --br1 : 16px;
 --sectionpadding: 48px 24px;
 /* bootstrap  */
 --font-family-sans-serif: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}

/* font-family: 'Inter', sans-serif; */
body {
    font-family: var(--ff1);
    margin: 0px;
    padding: 0px;
}

* {
    box-sizing: border-box;
 }

ul{
    margin:0;
    padding: 0;
}

.border-black{
    border: 1px solid black;
}

.border-violet{
    border: 1px solid blueviolet;
}
  /* Atoms molecules organisms */
@media screen and (min-width:300px){
    .sg-atom-h1{
        margin: 0px;
        color: var(--bkblue);
        font-size: 40px;
        font-weight: 800;
        text-rendering: optimizeLegibility;
        line-height: 44px;
    }

    .sg-atom-h2{
        margin: 0px;
        font-size: 28px;
        font-weight: 800;
        line-height: 32px;
        text-rendering: optimizeLegibility;
        color: var(--bkblue);
    }

  .sg-atom-h3{
    margin: 0px;
    color: var(--bkblue);
    font-size: 28px;
    font-weight: 800;
    line-height: 32px;
    text-rendering: optimizeLegibility;
  }

    .sg-atom-a{
        margin: 0px;
        color: #3273dc;
        cursor: pointer;
        text-rendering: optimizeLegibility;
        font-size: 16px ;
        line-height: 22px ;
    }

    .sg-atom-a--nothing , .sg-atom-a--nothing:hover {
        color: black;
        cursor: pointer;
        text-decoration: none;
    }

    .sg-atom-a--white{
        color: #E9E9E9;
        text-decoration: none;
        cursor: pointer;
        font-size: 16px;
        font-weight: 400;
        line-height: 22px
    }

    .sg-atom-a--white:hover{
        text-decoration: underline;
    }

    .sg-atom-a--bold {
        text-rendering: optimizeLegibility;
        font-weight: 600;
    }

    .sg-atom-a--bold:hover , .sg-atom-a:hover{
        color:#1851B4 ;
        text-decoration: underline;
    }

    .sg-atom-p{
        padding: 0px;
        margin: 0px;
        text-rendering: optimizeLegibility;
        color: var(--bkblue);
        font-size: 16px;
        font-weight: 400;
        line-height: 22px;
    }

    .sg-atom-p--grey{
        color: #4a4a4a;
    }

    .sg-atom-strong{
        font-size: 1em;
        line-height: 1.5;
        color: #363636;
        font-weight: 700;
        text-rendering: optimizeLegibility;
    }

    .sg-atom-strong--white{
        color: #E9E9E9;
        font-weight: 600;
        font-size: 16px;
        line-height: 22px;
        text-rendering: optimizeLegibility;
    }

    .sg-atom-img {
        width:100%;
        height: auto;
    }

    .sg-atom-img--rounded{
        border-radius: 8px;
    }

    .sg-atom-button{
        border: none;
        text-decoration: none;
        border-radius: 8px;
        font-weight: 600;
        font-family: var(--ff2);
        cursor: pointer;
        box-shadow: none;
        font-size: 20px;
        line-height: 28px;
        padding: 0 20px;
    }

    .sg-atom-button--white{
        background-color: #fff;
        color: #2C6BED;
    }

    .sg-atom-button--blue{
        background-color: #2C6BED;
        color: #fff;
        height: 40px;
    }

    .sg-molc-card{}

    .sg-org-textimage{
        padding: var(--sectionpadding);
    }

    .sg-org-textimage__img{
        border-radius: var(--br1);
        max-width: 100%;
    }
    .sg-org-textimage__h2{
        padding: 24px 0px 32px 0px;
    }
}

@media screen and (min-width:768px){
  .sg-atom-h1{
      font-size: 60px;
      line-height: 64px;
  }

  .sg-atom-h2{
    font-size: 40px;
    line-height: 44px;
}

.sg-atom-a--bold:hover , .sg-atom-a:hover{
    color:#1851B4 ;
    text-decoration: underline;
}


.sg-atom-a--noline , .sg-atom-a--noline:hover {
    text-decoration: none;
}

.sg-atom-p{
    font-size: 20px;
    line-height: 28px;
}

}

@media screen and (min-width:992px){

}
    /* Atoms molecules organisms */


@media screen and (min-width:300px) {


    .nav {
        background-color: #fff;
        position: fixed;
        top:0px;
        left:0px;
        right: 0px;
        z-index: 20;
    }

    .signal__header{
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 52px;
        padding: 0px 18px;
        margin: 0px;
    }

    .logo{
        width: 90px;
        height: 30px;
    }

    .close{
        align-self: flex-end;
    }

    .dash{
        background-color: black;
        height: 1px;
        width:16px;
        margin-top: 5px;
    }

    .bar1, .bar2, .bar3 {
        width: 16px;
        background-color: black;
        transition: 0.4s;
      }

      .bar1 ,.bar3 {
        height: 1.2px;
      }

      .bar2{
          height: 1px;
          margin: 3.5px 0px;
      }

      .change .bar1 {
        -webkit-transform: rotate(-45deg) translate(0px, 6px);
        transform: rotate(-45deg) translate(0px, 6px);
      }

      .change .bar2 {opacity: 0;}

      .change .bar3 {
        -webkit-transform: rotate(45deg) translate(-2px, -8px);
        transform: rotate(45deg) translate(-2px, -8px);
      }


      .signal__navigation-a{
          color: var(--bkblue);
          padding: 8px 12px ;
          text-decoration: none;
      }
      .signal__navigation-a:hover{
          text-decoration: none;
      }


    .padding-offset{padding: 26px;}

    .hero{
        display: block;
        background-color: #9DBBF8;
        color: #1b1b1b;
        max-height: 760px;
        padding: var(--sectionpadding)
    }

    .hero__p{
        margin-top: 24px;
        margin-bottom:2px ;
    }

    .hero__imgwrap{
        padding: 12px ;
        display: block;
        position: relative;
        margin-top:20px ;
    }

    .hero__img1{
        height: auto;
        max-width: 100%;
        transform: rotate(22.5deg);
        width: 218px;

    }

    .hero__img2{
        height: auto ;
        max-width: 100%;
        transform: rotate(22.5deg);
        width: 218px;
        top: 0px;
        left: 20px ;
        position: absolute;
    }

    .hero__button {
        width: 156px ;
        height: 50px;
    }

    /* opinion*/
.opinion{
    padding: var(--sectionpadding) ;
    background-color: #ECECEC;;
}
.card-grid{
    display: grid;
    grid-template-columns: 1fr;

}

.sg-molc-card2{
  padding: 0px;
 }

.sg-molc-card2__img{
    width: 108px;
    max-width: 100%;
    border-radius: 50px;
    margin-bottom: 24px;
}

.sg-molc-card2__quote{
    font-size: 20px;
    line-height: 24px;
}

.sg-molc-card2__strong{
    display: block;
    color: #363636;
    font-weight: 700;
    font-size: 16px;
}

.sg-molc-card2__p{
    margin-top: 16px;
    margin-bottom:48px ;
}

/* Why use signal  */
 .whyuse {
     padding: var(--sectionpadding);
 }


.whyuse__animation{
    width: 100%;
    height:366px;
    background-color: #a5cad5;
    border-radius: var(--br1);
}

.whyuse__h2{
    margin: 24px 0px 32px 0px;
}

 .whyuse__p1{
     padding-top:16px;
     padding-bottom: 48px;
 }

/* card grid */
.cardgrid{
    padding: var(--sectionpadding);
    background-color: #F6F6F6;
    margin: 0 auto;

}

.cardgrid__container{
    display: grid;
    place-items: center;
    margin: 0 auto;
    width: fit-content;
    grid-template-columns: 1fr;
    row-gap: 24px;
}

.sg-molc-card{
    padding: 30px;
}

.sg-molc-card--white{
    background-color: #FFFFFF;
border-radius: var(--br1);
height: 100%;
box-shadow: 0px 4px 12px rgba(0,0,0,0.12),0px 0px 2px rgba(0,0,0,0.08);
}
.sg-molc-card__img{
    width: 280px;
}
.sg-molc-card__h3{
    margin: 18px 0px 4px 0px ;
}



/* Footer */
.footer{
    background-color: #3C3744;
    padding: var(--sectionpadding);
    padding-bottom: 96px;
    bottom: 0;
}

.footer-container{
    display: grid;
    grid-template-columns: auto;
    row-gap: 24px;
}

.footer-container__item{
    /* padding:12px ; */

}

.foooter__menu-item >a {
    line-height: 20px;
}

.foooter__menu-item {
    list-style-type: none;
    height: 20px;
}


.footer__menu-title{
    color: #E9E9E9;
    display: block;
    font-size: 16px;
    line-height: 22px;
    font-weight: 600;
    margin-bottom: 12px;
}

.footer__copyright{
    color: #E9E9E9;
}

}

@media screen and (max-width:991px){


    /* .foooter__menu-item {
        list-style-type: none;
        height: 22px;
        display: inline-block;
    } */

    .signal__navigation{
        display: flex;
        flex-direction: column;
        position: absolute;
        top: 52px;
        background-color: white;
        left: 0px;
        right: 0px;
    }

}


@media screen and (min-width:768px) {


    .hero__img1{
        width: 320px;
    }


       /* opinion*/
.opinion{
    padding: var(--sectionpadding) ;
    padding-top: 144px;
    background-color: #ECECEC;;
}
.card-grid{
    display: grid;
    grid-template-columns: 1fr 1fr;

}

/* Why use signal  */
.whyuse {
    padding: var(--sectionpadding);
}


.whyuse__animation{
   width: 100%;
   height:366px;
   background-color: #a5cad5;
   border-radius: var(--br1);
}



.whyuse__p1{
    padding-top:16px;
    padding-bottom: 48px;
}


   /*  card grid */

   .cardgrid__container{
    grid-template-columns: 1fr 1fr;
    row-gap: 24px;
    column-gap: 24px;
}


    .footer-container{
        grid-template-columns: auto 1fr 1fr 1fr 1fr;
        column-gap: 24px;
    }

  }

@media screen and (min-width:992px) {
    .logo{
        width: 150px;
        height: 50px;
    }

    .signal__header{
        height: 84px;
    }



    .signal__navigation{
        display: flex;

    }

    .padding-offset{padding: 42px;}


    /* Why use signal  */
 .whyuse {
    padding: var(--sectionpadding);
}

.whyuse__container{
    max-width: 1152px;
    margin: 0 auto;
}

.whyuse__tp{
    padding: 12px;
}

.whyuse__animation{
   width: 100%;
   height:366px;
   background-color: #a5cad5;
   border-radius: var(--br1);
}

.whyuse__h2{
   margin-top:0px;
}

.whyuse__p1{
    padding-top:16px;
    padding-bottom: 48px;
}


    .cardgrid__container{
        grid-template-columns: 565px 565px;
        row-gap: 24px;
        column-gap: 24px;
    }

    .sg-molc-card__img{
        width: 370px;
    }


     /* footer */
     .footer-container{
        margin:0 33px;
        grid-template-columns: auto 168px 168px 168px 168px;
    }

}





@media screen and (min-width:300px){
    /* no ads */
      .noads , .everyone {
          background-color: #ffffff;
      }

      .everyone__button{
        border: 2px solid #2c6bed;
        width: 195px;
        height: 50px;
        padding: 0px;
      }
  }


  @media screen and (min-width:768px){

  }


  @media screen and (min-width:992px){

  }
